<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-logo">
      <img src="/images/footer_logo.png" alt="한국금융 KFT 미디어그룹" class="footer-logo-img">
    </div>
    <div class="footer-links">
      <a href="/subscribe" class="mobile-show">구독신청</a><span class="sep">|</span>
      <a href="#">윤리강령</a><span class="sep">|</span>
      <a href="#">독자위원회</a><span class="sep">|</span>
      <a href="#">고충처리제도</a><span class="sep">|</span>
      <a href="#" class="mobile-show">개인정보처리방침</a><span class="sep">|</span>
      <a href="#">청소년보호정책</a><span class="sep">|</span>
      <a href="#">채용정보</a><span class="sep">|</span>
      <a href="#" class="mobile-show">이메일무단수집거부</a>
    </div>
  </div>
  <div class="footer-body">
    <div class="footer-info">
      <p>본사 우) 04522 서울시 중구 다동길 46 다동빌딩 6층 한국금융신문사 &nbsp;|&nbsp; 사업자번호 : 202-81-39551</p>
      <p>제호: 한국금융 &nbsp;|&nbsp; 발행·편집인 : 김봉국 &nbsp;|&nbsp; 대표번호 : 02)773-6300 &nbsp;|&nbsp; 팩스 : 02)773-1719</p>
      <p>신문사업 등록번호: 서울,다06555 &nbsp;|&nbsp; 신문사업 등록일자: 1992년 1월 29일 &nbsp;|&nbsp; 발행·편집인 : 김봉국 &nbsp;|&nbsp; 발행일자: 1992년 3월2일</p>
      <p>인터넷신문 등록번호: 서울, 아03960 &nbsp;|&nbsp; 인터넷신문 등록·발행: 2015년 11월 3일 &nbsp;|&nbsp; 청소년보호책임자 : 문수희 실장</p>
      <p>FNTIMES.COM의 모든 콘텐츠 및 기사는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</p>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="footer-copyright-inner">
      Copyright &copy; 2026 한국금융신문. All Rights Reserved.<br class="footer-copyright-br"> mail to bodo@fntimes.com
    </div>
  </div>
</footer>
